header.header
    .container
        .row
            nav.navbar
                span.phone= $.home.phone
                +b.UL.menu
                    each link in $.navbar.items
                        +e.LI.item
                            +e.A(href= link.link, data-scroll= link.link).link= link.text
                +b.A(href= $.navbar.buttons.btn_recall.link, data-modal= $.navbar.buttons.btn_recall.link).btn._red= $.navbar.buttons.btn_recall.text
            a.hamburger-icon(href='#')
                span.line.line-1
                span.line.line-2
                span.line.line-3